html, body{
    padding: 0px 0px 0px 0px;
    margin: 0;
}

a, h1, h2, h3, label, option, select, input[type=submit]{
    font-family: 'Oswald', sans-serif;
}

h1 {
    margin-top: 120px;
}


p, ul li{
    font-family: 'Inter', sans-serif;
    list-style: none;
}

section ul li{
    cursor:pointer;
    width: 70px;
}

section ul li:hover{
    color: #ff5950;
}


#main, #bienvenu{
    width: 50%;
    margin: auto;
}

#bienvenu{
    margin-top: 150px;
    margin-bottom: 30px;
    padding: 0;
}

canvas{
    width: 50px;
}

h3, .typeContrat, .datePubli{
    color: rgba(122, 122, 122, 0.575);
}

/* menu */
nav{
    background-color: rgba(255, 255, 255, 0.897);
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 0px 10px 0px;    
    text-align: center;
    display: block;
    box-shadow: 0px -7px 20px 6px rgba(35, 35, 35, 0.47);
}
nav ul{
    margin: 0;
    padding:0 ;
}

nav li{
    display: inline-block;
    list-style: none;
}

nav a{
    width: 200px;
    color: rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    display: block;
}

nav li :hover{
    color: #ff5950;
}

h1{
    padding-left: 50px;
}

/* form */
form{
    text-align: center;
    display: block;
    padding: 50px 0px;
    background-color: rgb(240, 240, 240);
    border-bottom-style: solid ;
    border-bottom-width: 1px ;
    border-bottom-color: rgba(112, 128, 144, 0.068);
}

select{
    width: 50%;
    padding: 12px 15px;
    margin: 0px 20px;
    border-width: thin;
    border-color: rgba(112, 128, 144, 0.514);
    border-radius: 4px;
    /* box-sizing: border-box; */
}

input[type=submit]{
    background-color: #ff5950;
    color: white;
    padding: 14px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color: #ff342a;
}


main{
    margin-top: 77px;
}

/* articles */
article{
    padding: 10px;
    margin: 0px 50px;
    border-bottom-style: solid ;
    border-bottom-width:thin ;
    border-bottom-color: rgba(112, 128, 144, 0.342);
}

article h2 a{
    width: fit-content;
    color: black;
    display: block;
    text-decoration: none;
}

article h2 a:hover{
    text-decoration: underline;
    color: #ff5950;
}

.description{
    width: 70%;
    height: 60px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    white-space: normal;
}

article:hover{
    background-color:rgba(207, 207, 207, 0.137);
}
